.dashboard-container {
  background-image: url('../../public/img/bg3.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8); 
}

.dashboard-content {
  flex: 1; 
  padding: 20px;
}

.dashboard-footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); 
}
.logout-button {
  display: block;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Button border radius */
  padding: 10px 20px; /* Button padding */
  cursor: pointer; /* Cursor style */
  text-decoration: none; /* Remove underline from link */
  
}

.logout-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.logout-link {
  color: inherit; /* Inherit text color from parent button */
  text-decoration: none; /* Remove underline from link */
}

.logout-link:hover {
  text-decoration: none; /* Remove underline from link on hover */
}

h2{
  text-align: center;
  color: black;
}